html, body, h1, h2, h3, p, ol, ul, li, a, div{
    padding: 0;
    border: 0;
    margin: 0;
  }
body {
    background-color: #cccccc;
}
h1 {
    font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif;
    margin: 5px 0px 20px 0px;
    font-size: 40px;
}
.h2 {
    font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif;
    font-size: 30px;
}
h3 {
    font-family: 'Open Sans', 'Raleway', 'Roboto', sans-serif;
    font-size: 25px;
}
#mainBodyContainer {
    margin: 0px 30px;
    flex-direction: column;
    display: flex;
    height: 100vh;
}

#header {
    background-color: white;
}
.headerStyle {
    margin: 20px 50px 30px;
}


#commentContainer {
    height: 70vh; 
    background-color: #b3b3b3;
}


#commenting {
    height: 200px;
    background-color: white;
    height: 15vh;
}

form {
    display: flex;
    margin: 20px 50px;
}
#username {
    width: 20%;
    margin: 20px;
}
#comment {
    margin: 20px;
    width: 80%;
}
#submit {
    background-color: white;
    border: none;
    color: #519499;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Raleway', 'Roboto', sans-serif;
  }
  input[type=submit] {

      background-color: white;
      border: none;
      font-family: 'Open Sans', 'Raleway', 'Roboto', sans-serif;
      color: teal;
  }
  #appendedComment{
    height: 120px;
    
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}
img {
    width: 50px;
    margin: 10px;
    margin-left: 30px;
    
}
.edits {
    align-items: flex-end;
}
.commentStyling {
      margin: auto 5px auto 10px;
      font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif;
      flex-direction: column;
  }
#newCommentStyling {
    display: flex;
    width: 250px;
}

#commentSectionOverall {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    
}
#commentSection1 {
    width: 500px;
    display: flex;
    flex-direction: column;
}
.commentEditing {
    margin: auto 5px auto 10px;
      font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif;
}
#commentSection2 {
    justify-content: space-between;
    display: flex;
    width: 200px;
}

#comment2 {
    width: 80%;
    margin-right: 20px
}